@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --bg: #020617;
  --bg-gradient: linear-gradient(180deg, #020617, #020b2e);
  --text: #04070b;
  --subtext: #cbd5f5;
  --accent: #38bdf8;
  --card: rgba(255,255,255,0.04);
}

.light {
  --bg: #f8fafc;
  --bg-gradient: linear-gradient(180deg, #f8fafc, #e2e8f0);
  --text: #020617;
  --subtext: #334155;
  --accent: #5c6b8b;
  --card: rgba(0,0,0,0.06);
}

body {
  background: var(--bg-gradient);
  color: var(--text);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg-gradient);
  color: var(--text);
}



section {
  padding: 90px 10%;
}

h1, h2 {
  color: var(--accent);
}

p {
  color: var(--subtext);
}




nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 10%;
  background: rgba(2, 6, 23, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

nav a {
  margin-left: 25px;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  bold: 500;
}

nav a:hover {
  color: #38bdf8;
}

footer {
  text-align: center;
  padding: 40px;
  color: #94a3b8;
}

#skills div:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 0 0 10pxpx rgba(56,189,248,0.35);
}



/*  Project */

.featured-projects {
  background: radial-gradient(circle at top, #06163a, #020923);
  padding: 90px 8%;
}

.featured-title {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 60px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

.project-box {
  background: #0b1b36;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.35s ease;
}

.project-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}

.project-box img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.project-info {
  padding: 26px;
  background: #10223f;
}

.project-info h3 {
  color: #eaf0ff;
  font-size: 22px;
  margin-bottom: 14px;
}

.project-info a {
  color: #4f7cff;
  font-weight: 500;
  text-decoration: underline;
  transition: 0.3s;
}

.project-info a:hover {
  color: #9bb0ff;
}
